.rightEye {
  width: 20px;
  height: 40px;
  position: relative;
  top: 150px;
  left: 240px;
}

.leftEye {
  width: 20px;
  height: 40px;
  top: 140px;
  left: 160px;
  position: relative;
}

.rotate {
  transform: rotate(45deg);
}
