.leftEye {
  position: relative;
  top: 160px;
  left: 260px;
  max-width: 50px;
  height: auto;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
